<% if object.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <strong>Oops! Something went wrong. Please check below.</strong>
       <ul>
       	<% object.errors.full_messages.each do |message| %>
       	  <li><%= message %>
       	<% end %>
       	</ul>
  </div>
<% end %>